<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/all.css}"/>
</head>

<body>
  <div class="topnav" id="myTopnav" th:fragment="header">
      <a th:href="@{/homePage}" id="kk1234" style="background-color: #796aee;">Home</a>

      <!--div th:if="${session.habitant != null}"-->
      <div>
          <a th:href="@{/toutepiece}">Consommation</a>
          <a th:href="@{/listDesPieces}">Test</a>
      </div>

    <div id="profilButton">
      <div class="dropdown">
        <button class="dropbtn" onclick="activeButton()"><i style="margin-right: 5px;" class="fas fa-user"></i>
          <p th:text="${' '+session.lastName + ' ' + session.firstName}"></p>
        </button>
        <div class="dropdownProfil-menu">
          <a th:href="@{/out}">Déconnexion <i class=" fas fa-right-from-bracket"></i></a>
        </div>
      </div>
    </div>
  </div>
  <!------------------------------------ fin du menu pour le scope 1 et 2 ---------------------------------------->

</body>

</html>