<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script th:src="@{/js/script.js}"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/prod.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
    <title>Document</title>
</head>
<body>
<div th:replace="Menu :: header">...</div>
<!--ajout du menu-->

<header class="container-fluid">
    <div class="row align-items-stretch d-flex">
        <div class="m-3 col-4 shadow-sm px-4 py-3 card card-header" style="background-color:#f0f8ff">
            <h2 class="m-2 p-1 border-top-0 rounded">Bienvenue dans votre espace de Production </h2>
        </div>
        <div class="col-4 card card-header m-3" style="background-color:#f0f8ff">
            <span><H4> Production totale</H4></span>
            <span id="prodTotal" style="font-size: 4em"></span>
            <span>KWh</span>
        </div>
        <div class="col-2 card card-header m-3" style="background-color:#f0f8ff">
            <div class="weather-info d-flex flex-column align-items-center justify-content-center">
                <div class="temperature">
                    <img src="/images/soleil.png" alt="Cloud Sunny">
                    <span class="value">22</span>
                    <span class="unit">&deg;C</span>
                </div>
                <div class="wind-info">
                    <img src="/images/vent.png" alt="Cloud Sunny">
                    <!--span class="wind-direction">NE</span-->
                    <span class="wind-speed">10</span>
                    <span class="unit">KM/H</span>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- fin menu -->

<div class="card mb-6 d-flex justify-content-center m-1">
    <div class="card-header text-capitalize" style="font-size:20px">
        <span> Source de production de votre maison</span>
    </div>
    <div class="card-body">
        <table id="myTable" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Source de Production</th>
                <!--th>Date de production</th>
                <th>ID source</th-->
                <th>Quantité</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${production}">
                <td th:text="${product.name_prod}"></td>
                <td th:text="${product.quantity + ' KWh'}"></td>
                <!--td th:text="${product.date_prod}"></td>
                <td th:text="${product.id_source}"></td-->
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="m-3 shadow-sm px-4 py-3 w-50 card card-header" style="background-color:#f0f8ff ">
        <h2 class="m-2 p-1 border-top-0 rounded">Graphe de la production globale</h2>
    </div>
</div>

<div class="row d-flex justify-content-center m-1">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Production globale</div>
            <div class="card-body">
                <canvas id="lineChartProd" style="max-height: 500px"></canvas>
                <input onchange="filterDataProd()" type="date" id="start-date-prod">
                <input onchange="filterDataProd()" type="date" id="end-date-prod">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Production et Consommation globale</div>
            <div class="card-body">
                <canvas id="lineChart1" style="max-height: 500px"></canvas>
            </div>
        </div>
    </div>
</div>
<br><br>


<footer>
    <div><br> <br></div>
</footer>


</body>
</html>