*,
::before,
::after {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    background-color: #eef5f9;
}

#container {
    display: grid;
    grid-template-columns: auto 35%;
    padding-top:3%;
}
#infoTerminaux{
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    color: #32424f;
}
.column{
    flex:50%;
    margin-right: 10px;
    margin-left: 10px;
}
#recherche{
    display: flex;
    flex-direction :column;
}
#mapContainer{
    display: flex;
    flex-direction :column;
}
.mapList ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    height:100px;
    color: #32424f;
}
.mapList ul li{
    margin:auto;
}

.mapImage path{
    fill: #EF767A; /*color of the image*/
    stroke :#FFF; /*color of the bordure between elements*/
    stroke-width: 5px; /*width of the bordure between elements*/
    transition: fill 0.3s;
}
.mapImage path:hover{
    fill: #b35356; 
}

.mapList a{
    color: inherit; /*take color of parent --> avoid blue*/
    text-decoration: none;
    transition: color 0.3s;
    font-size:12px;
}
.isActiveList{
    color: #b35356 !important; 
}

.mapList a:hover{
    color: #b35356; 
}
#recherche div{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px 0 2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 8% 2%;
    position: relative;
    background-color: white;
    margin: auto 0;
}
#dataGare,#dataEntreprise,#dataCommercial,
#dataAeroport,#dataHabitation,#containerGraph, #dataBetweenTwoTerminal{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px 0 2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 2% 2%;
    position: relative;
    background-color: white;
    margin-bottom: 10px;
}
.divTitleDataTerminaux{
    display: grid;
    grid-template-columns: auto 50px;
}
.divTitleDataTerminaux span {
    margin: auto;
    cursor: pointer;
}

.mapList{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px 0 2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    position: relative;
    background-color: white;
    margin-top:3%;
}


.rotateIcons20{
    transform: rotate(20deg);
}

.titleDataTerminaux{
    text-align: center;
}
.divDataTerminaux{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.subDivPrt{
    display: grid;
    grid-template-columns: auto 125px;
}
.subDivPrt p{
    max-width: 75%;
}
.bookPrt{
    background-color: #D7F2BA;
    height: 35px;
    padding: 3% 5%;
    border: 1px solid #D7F2BA;
    border-radius: 7px;
    cursor: pointer;
}
.iconForPrtOccupy{
    color:#FFA630;
}
.iconForPrtFree{
    color: #1A936F;
}
.timerInformation{
    font-style:italic;
    font-size: 9px;
    text-align: right;
}

#divArretForPrt{
    font-size:12px;
    margin-top: 1%;
}



/* graph*/

.anychart-credits-text,
.anychart-credits-logo{
    display: none;
}

/* modal*/

.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
  
.modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 50%;
    border-radius: 20px;
}


.closeButtonTopModal {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right:7px;
    top:5px;
}
  
.closeButtonTopModal:hover,
.closeButtonTopModal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-footer{
    height: 50px;
    border-top: 1px solid #e7e6e6;
    position: relative;
    display: grid;
    grid-template-columns: 12% auto 12%;
    align-items: center;
}
.modal-body{
    min-height:325px;
    max-height:325px;
    padding: 0% 5% 5% 2%;
    scroll-behavior: smooth;
    background-color: #f3f3f8;
}
.modal-header{
    height:50px;
    border-bottom: 1px solid #e7e6e6;
    padding-left: 10px;
    padding-top: 10px;
    position: relative;
    display: flex;
    align-items: center;
}
.closeModalButton{
    position: absolute;
    right: 20px;
    color: white;
    background-color: #B7B6C1;
    width: 70px;
    border-radius: 5px;
    height: 30px;
    font-size: 15px;
}

.closeModalButtonForConfirmation{
    margin-left:20px;
    color: white;
    background-color: #B7B6C1;
    width: 70px;
    border-radius: 5px;
    height: 30px;
    font-size: 15px;
}
.closeModalButton:hover,
.closeModalButtonForConfirmation:hover{
    cursor: pointer;
}
.buttonConfirme:hover,
#generateFileButtonForBookingPrt:hover {
    cursor: pointer;
}
#generateFileButtonForBookingPrt {
    display: none;
    color: white;
    background-color: #EA526F;
    border-radius: 5px;
    font-size: 15px;
    height: 30px;
    border-color: #EA526F;
    width: 165px;
    margin: auto;
}
.buttonConfirme{
    display: none;
    color: white;
    background-color: #00a676;
    width: 80px;
    border-radius: 5px;
    height: 30px;
    font-size: 15px;
    position: absolute;
    right: 20px;
    border-color: #00a676;
}

.modal-body h4 {
    text-align: center;
    color: #494E57;
    padding-top: 1%;
    padding-bottom: 1%;

}
#divForDestination label {
    color: rgb(73, 78, 87);
}

#divInModalBody input[type='radio']{
    cursor: pointer;
}
#divForArretExceptNone input[name="terminalArret"]:hover {
    cursor: pointer;
}

.hideDivArret{
    display: none;
}

#divForArretExceptNone{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    color:gray;
}

#divArretForPrt{
    display: grid;
    grid-template-columns: 20% auto;
}

#divForDestination{
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-size:12px;
    margin-top: 1%;
}

.divStyleForModalBody{
    background-color: white;
    padding: 1rem;
    border-radius: 11px;
}

#inforForChoicePassenger:hover{
    cursor: pointer;
}

#divForChoicePassenger{
    position: relative;
}
#divForChoicePassenger label.switch{
    position: absolute;
    right: 5%;
}




.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 23px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* for top .tooltip */
.tooltip {
    position: relative;
    display: inline-block;
}

#divForChoicePassenger .tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #333333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -150px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size:11px;
}
.divIcone .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #333333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}


.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#RecapPrtBooking {
    background-color: white;
    margin:auto;
    width: 80%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px 0 2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 2% 2%;
}
#RecapPrtBooking .fixed-table-toolbar {
    display: flex;
}

#RecapPrtBooking .btn[title="Actualiser"] {
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    background-color: white;
    font-size: 1rem;
    color: #868686;
    cursor: pointer;
}

#RecapPrtBooking .form-control.search-input {
    padding: 0.375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

#RecapPrtBooking .fixed-table-header .table.table-bordered.table-hover {
    border-collapse: collapse;
}

#RecapPrtBooking #table tbody tr td:nth-child(1) {
    text-align: right;
    padding-right: 2%;
}

#RecapPrtBooking #table tbody tr td:nth-child(2),
#RecapPrtBooking #table tbody tr td:nth-child(3) {
    text-align: center;
}

#RecapPrtBooking #table tbody tr td:nth-child(4) {
    text-align: right;
}

#RecapPrtBooking .fixed-table-header .table.table-bordered.table-hover th .th-inner {
    color: #fff;
    background-color: #796aee;
    border-color: #796aee;
    height: 30px;
}

#RecapPrtBooking .bootstrap-table .fixed-table-container .fixed-table-body {
    overflow-x: hidden;
}

#RecapPrtBooking .bootstrap-table .fixed-table-container.fixed-height .table thead th {
    border: unset;
}

#container2 {
    margin-top: 3%;

}
#RecapPrtBooking .fixed-table-pagination .page-list {
    display: none;
}