.weather-info img {
    width: 80px;
    height: 80px;
}

.temperature {
    font-size: 2em;
    font-weight: bold;
    margin: 10px 0;
}

.temperature .value {
    font-size: 1.5em;
}

.temperature .unit {
    font-size: 0.8em;
}

.wind-info {
    font-size: 2em;
    font-weight: bold;
    margin: 10px 0;
}
.wind-info .wind-speed {
    font-size: 1.5em;
}

.wind-info .unit {
    font-size: 0.5em;
}