body {
    margin: 0;
}

.title {
    margin-top: em;
}

h2{
    text-align: center ;
    max-resolution: 3em;
}

#tableEnergies {
    top: 10%;
    margin: auto;
    align-self: center;
    width: 50%;
    height: 30%;
    align-content: center;
}

table, th, td {
    margin-top: auto;
    width: 50%;
    text-align: center;
}

th, td {
    margin: 5px ;
    padding: 5px;
}

a {
    color: black;
    text-decoration:none;

}
