<!DOCTYPE html>
<html>
<head>
  <title>Accueil</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" th:href="@{/css/main.css}" />
<link rel="stylesheet" th:href="@{/css/all.css}" />
  <link rel="stylesheet" th:href="@{/css/message.css}" />
  <link rel="stylesheet" href="css/style.default.css" id="theme-stylesheet">
</head>
<body style="background-image: url(../images/safe_and_smart_city_0.png); background-size: cover">
  <script text="javascript" src="/js/menu.js"></script>
<div th:replace="Menu :: header">...</div>
  <div class="">
    <div class="container d-flex align-items-center position-relative" style="padding-top: 8rem !important">
      <div class="card shadow-sm w-100 rounded overflow-hidden">
        <div class="card-body p-0">
          <div class="row gx-0 align-items-stretch">
            <div class="col-lg-6" style="background-color: #796aee; color:white; height: 400px">
              <div class="info d-flex justify-content-center flex-column p-4 h-100">
                <div class="py-5">
                  <h1 class="display-6 fw-bold">Bienvenue <span th:text="${session.firstName}"></span></h1>
                </div>
              </div>
            </div>
            <div class="col-lg-6 bg-white">
              <div class="d-flex align-items-center px-4 px-lg-5 h-100">
                <div th:if="${session.idCompany != null && session.idCompanyForSg != null}">
                  <h2>Vous êtes connecté en tant que <span th:text="${session.type}"></span> de l'entreprise <span th:text="${session.company_name}"></span> et avez comme droit <span th:text="${session.droit}"></span></h2>
                  <p>Vous pouvez effectuer des réservations d'espace. Configurez vos équipements. Réserver un PRT et visualiser votre course.
                  <br> Suivre votre consommation énergétique personnelle où bien celle des employés de votre entreprise. <br> Visualiser un historique des alertes
                    de surconsommation d'énergie.</p>
                </div>
                <div th:if="${session.idCompany != null && session.idCompanyForSg == null}">
                  <h2>Vous êtes connecté en tant que <span th:text="${session.type}"></span> de l'entreprise <span th:text="${session.company_name}"></span> et avez comme droit <span th:text="${session.droit}"></span></h2>
                  <p>Vous pouvez effectuer des réservations d'espace. Configurez vos équipements. Réserver un PRT et visualiser votre course.
                    <br> Suivre votre consommation énergétique personnelle </p>
                </div>
                <div th:if="${session.services_regulations != null}">
                  <h2>Vous êtes connecté en tant que <span th:text="${session.type}"></span></h2>
                </div>
                <div th:if="${session.habitant != null}">
                  <h2>Vous êtes connecté en tant que <span th:text="${session.type}"></span></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div th:if="${session.idCompany != null}">
    <div th:replace="message :: div"></div>
  </div>
</body>
<script text="javascript" src="/js/message.js"></script>
</html>
